.bg-palet-1 {
    background-color: #272643;
}
.bg-palet-2{
    background-color: #E3F6F5;
}
.bg-palet-3{
    background-color: #BAE8E8;
}
.bg-palet-4{
    background-color: #2C698D;
}
.bg-palet-5{
    background-color: #9edada;
}
.text-bg-palet-1{
    color:#272643;
}